<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Mother's Day</title>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/index.css" type='text/css'>
  </head>
  <body>

    <div class="panels">
      <div class="panel panel1">
        <p>Happy</p>
        <p>Anna Message</p>
      </div>
      <div class="panel panel2">
        <p>Mother's</p>
        <p>Mother-</p>
        <p>[noun]</p>
        <p>One person who does the work of twenty. For free.</p>
        <a href="#momGift" class="btn btn-default">
          <span class="glyphicon glyphicon-gift"></span>
        </a>
      </div>
      <div class="panel panel3">
        <p>Day!</p>
        <p>Love You Mom! Thank you for everything you do for me</p>
      </div>
    </div>

    <div class="momGift-container">
      <div id="momGift" class="momGift">
        <div class="momGift-header">
          <img src="/imgs/wish-click.png" alt='Open envelope, girl in front of chalkboard'>
          <h1>For a Mom who has everything...</h1>
          <h3>We donated a year of School for a girl in your name.</h3>
        </div>
        <div class="momGift-body">
          <h2>About year of school for a girl</h2>
          <img src="/imgs/ecard_photo_school_2.png" alt="girls in uniform at school">

          <p>When crisis forces families to make difficult decisions about schooling for their children, often it is young girls who are kept at home and denied a chance at a better life. In places like Afghanistan, Congo or Lebanon, including girls in schools is critical: educated girls become smart, strong women committed to leading their communities toward stability. In Afghanistan alone, we helped educate more than 13,000 girls in 2015.</p>
          <p>This gift will be put to work where needed to provide emergency relief, relocate refugees and rebuild lives in the wake of disaster. At work in over 40 countries and 22 US cities to restore safety, dignity and hope, the International Rescue Committee leads the way from harm to home. Rescue.org</p>
          <a href="https://www.rescue.org"><img src="/imgs/ecard-logo.png" alt="IRC logo"></a>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/javascript/index.js"></script>

  </body>
</html>
